body {
	margin: 0px
}

.beans {
	height: 280px;
	width: 1024px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.logo {
	position: relative;
	left: 450px;
}

.navigation {
	padding-left: 0px;
	width: 984px;
	background-color: #230b03;
	line-height: 35px;
	margin-top: 50px;
	word-spacing: 20px;
	font-weight: bold;
	text-align: center;
	position: relative;
	z-index: 2;
}

.navigation li{
	display: inline-block;
	vertical-align: bottom;
}

a {
	text-decoration: none;
	font-family: Garamond, serif;
	font-size: 14pt;
	color: #958168;
}

.google {
	color: #000000;
	text-decoration: none;
	font-family: Garamond, serif;
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
}

.email {
	color: #000000;
	font-size: 12pt;
	text-decoration: none;
	font-family: Garamond, serif;
	font-weight: bold;
	text-align: left;
}

.blog {
	margin-top: 15px;
	margin-left:68px;
	width: 75%;

}

.blog section {

	width: 45%;
	padding: 20px;
	float: left; 
	display: inline-block;
}

.blog section p {

	padding-left: 20px;
	padding-right: 20px;
	margin-right: -11px;
}

h2 {
	font-family: Arial, sans-serif;
	font-size: 14pt;
	color: #4c3628;
	text-align: center;
}

p {
	font-family: Garamond, serif;
	text-align: center;
}

.address {
	font-family: Garamond, serif;
	text-align: left;
	font-size: 12pt;
}

footer {
	background-color: #230b03;
	clear: both;
	width: 1022px;
	font-family: Garamond, serif;
	color: #958168;
	height: 100px;
	text-align: center;
	padding-top: 50px;
	font-size: 12pt;
}

.image {
	float: left;
	font-weight: bold;
}

.image .coffee-shop {
	margin-left: 50px;
	margin-top: 20px;
}

.image .coffee-shop-2 {
	display: inline;
	margin-top: 20px;
	margin-left: 20px;
}

.image .coffee-shop-music {
	display: inline;
	margin-top: 20px;
	margin-left: 20px;
}

.image .fair-trade {
	margin-left: 50px;
	margin-top: 20px;
}

.image .tea {
	margin-left: 20px;
	margin-top: 20px;
}

.contact {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	width: 500px;
}