body {
	background-color: #FFFFFF;
	padding-left: 20px;
	padding-right: 400px;
}

h1 {
	font-family: 'Oswald', Verdana, sans-serif;
	text-transform: uppercase;
	font-size: 50px;
	margin-top: 2px;
	display: inline-block;
	margin-bottom: 0px;
}

nav {
	font-weight: bold;
	word-spacing: 2px;
	display: inline;
	float: right;
	vertical-align: bottom;
}

header {
	line-height: 50px;
	height: 50px;

}

hr {
	width: 100%;
		
}


.navigation {
	font-weight: bold;
	font-family: Helvetica, sans-serif;
	font-size: 10pt;
	float: right;
	margin-bottom: 0px;

}

.navigation li {
	display: inline-block;
	vertical-align: bottom;

}
	

h2 {
	font-family: 'Oswald', Verdana, sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	padding: 0px;
	margin: 0px;
}

.blog {
	width: 75%;
	float: left;
	margin-bottom: 10px;
}

p {
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	padding-top: 5px;
	margin: 0px;

}

.date {
	font-family: Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;

}

.sidebar {
	width: 25%;
	float: left;
	height: 50%;

}

.copyright {
	font-family: Helvetica; sans-serif;
	font-size: 12px;
	font-weight: bold;
}

a {
	text-decoration: none;
	font-family: Helvetica; sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
}

